<div class="container">
  <div class="row">
    <div class="col-sm-9">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      <h1>Nos Gossipsss!</h1>
      <%= link_to 'Créer un gossip', new_gossip_path %>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Les potins</th>
            <th>Les auteurs</th>
            <th>-</th>  
          </tr>
        </thead>
        <tbody>
          <% @gossips.each do |g| %>
          <tr>
            <td><%= link_to g.title, gossip_path(g.id) %></td>
            <td><%= link_to g.user.first_name, user_path(g.user.id) %></td>
            <td>
              <%= link_to 'Modifier', edit_gossip_path(g.id) %>
              <%= link_to 'Modifier', edit_gossip_path(g.id) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
