<div class="container">
  <div class="row">
    <div class="col-sm-9">
    
    <h2 class="text-capitalize"><%= @gossip.title %></h2>
    <p><%= @gossip.content %></p>

    <h4>
    Auteur - <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", user_path(@gossip.user.id) %>, Ville - <%= @gossip.user.city.name %>
    </h4>
    
    <p><%= @gossip.user.description %></p>
    
    </div>
  </div>
</div>



